body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
  
.container {
    text-align: center;
    
}

.session-list{
    margin-top: 65px;

}
.session-list button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border: 1px;
    color: black;
    background-color: red;
    cursor: pointer;
}

.timer {
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
}
